{% extends 'password/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
	<div class="container">
        <img class="img-pw1" src="{% static '/images/pw3.png' %}" alt="img-pw1">
        <div class="container-pw">
            <h2 class="pw-h2">ACTUALIZAR</h2><br>
            <h3 class="pw-h3">Ingresa una nueva contraseña, no comparta sus credenciales de inicio de sesion
                con nadie, ningun empleado de VRT-Fund solicitara su contraseña de inicio de sesion, recuerde 
                revisar periodimante su cuenta. 
             </h3>
            <!--<form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" id="password1" name="password1">
                    <button class="pw-boton" type="submit"><i class="fa-solid fa-circle-check"></i></button>
                </div>
            </form>-->
            <form method="post">
                {% csrf_token %}
                <div class="container-form-confirm">
                    <label for="new_password1">Contraseña:</label>
                    <input type="password" name="new_password1" id="new_password1">
                    <label for="new_password2">Confirmar:</label>
                    <input type="password" name="new_password2" id="new_password2">
                    <button class="pw-boton" type="submit"><i class="fa-solid fa-circle-check"></i></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}