{% extends 'password/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
	<div class="container">
      <img class="img-pw1" src="{% static '/images/pw2.png' %}" alt="img-pw1">
      <div class="container-pw">
        <h2 class="pw-h2">COMPLETADO</h2><br>
        <h3 class="pw-h3">La contraseña ha sido establecida. a continuación, puede 
          <a href="{% url 'login' %}">iniciar sesión</a> nuevamente, recuerde mantener sus datos de inicio de sesión 
          secretos y seguros, además de verificar periódicamente los retiros generados por el portal administrativo, 
          sí encuentra alguna anomalía, por favor comunicarse con la administración.
        </h3>
        <div class="pw-links">
          <a href="{% url 'Home' %}">
            <button class="pw-boton"><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
          </a>
          <a href="{% url 'login' %}">
            <button class="pw-boton"><i class="fa-solid fa-right-to-bracket"></i></button>
          </a>
          <a href="https://wa.me/573205997183">
            <button class="pw-boton"><i class="fa-brands fa-whatsapp"></i></button>
          </a>
        </div>
      </div>
    </div>
{% endblock %}