{% extends 'password/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
	<div class="container">
      <img class="img-pw1" src="{% static '/images/pw/pw4.png' %}" alt="img-pw1">
      <div class="container-pw">
        <h2 class="pw-h2">¿OLVIDO LA CONTRASEÑA?</h2><br>
        <h3 class="pw-h3">Lo siento, pero parece que has olvidado tu contraseña. sigue las instrucciones 
			para restablecer tu contraseña y acceder de nuevo a tu cuenta, por favor ingresa el correo electrónico
			asociado a tu cuenta. </h3>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<form method="POST">
			{% csrf_token %}
			<input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
			<button class="pw-boton" name="submit" id="submit" type="submit"><i class="fa-solid fa-envelope-circle-check"></i></button>
		</form>
      </div><br>
	  <div class="g-recaptcha" data-sitekey="6LeFQ-okAAAAAPh0_rYHVCnAVpBn1GHgWVdv6UFQ"></div>
    </div>
{% endblock %}