{% extends 'password/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
<div class="container">
	<img class="img-pw1" src="{% static '/images/pw/pw4.png' %}" alt="img-pw1">
	<div class="container-pw">
	  	<p class="pw-h2">¿OLVIDO LA CONTRASEÑA?</p><br>
	  	<p class="pw-h3">Lo siento, pero parece que has olvidado tu contraseña. sigue las instrucciones 
		  para restablecer tu contraseña y acceder de nuevo a tu cuenta, por favor ingresa el correo electrónico
		  asociado a tu cuenta. </p>
	  	<form method="POST" id="password-reset">
			{% csrf_token %}
			<input class="email-input" type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
			<button class="g-recaptcha lf--submit pw-boton" data-sitekey="6LdIIq4lAAAAAEARmW2-eMwQ-xoP3xe6FFLyzd01" data-callback="onSubmit">ENVIAR</button>
		</form>
	</div>
</div>
{% endblock %}