{% extends 'password/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
	<div class="container">
      <img class="img-pw1" src="{% static '/images/pw/pw1.png' %}" alt="img-pw1">
      <div class="container-pw">
        <p class="pw-h2">ENVIADO</p><br>
        <p class="pw-h3">Le hemos enviado instrucciones por correo electrónico para establecer su contraseña,
          sí existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve. Si no recibe
          un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su
          carpeta de correo no deseado. </p>
          <div class="pw-links">
            <button class="pw-boton" onclick=window.location.href="{% url 'Home' %}"><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
            <button class="pw-boton" onclick=window.location.href="{% url 'password_reset' %}"><i class="fa-solid fa-retweet"></i></button>
            <a href="https://wa.me/573205997183">
              <button class="pw-boton"><i class="fa-brands fa-whatsapp"></i></button>
            </a>
          </div>
      </div>
    </div>
{% endblock %}