{% extends 'password/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
	<div class="container">
      <img class="img-pw1" src="{% static '/images/pw/pw2.png' %}" alt="img-pw1">
      <div class="container-pw">
        <p class="pw-h2">COMPLETADO</p><br>
        <p class="pw-h3">La contraseña ha sido establecida. a continuación, puede 
          <a href="{% url 'login' %}">iniciar sesión</a> nuevamente, recuerde mantener sus datos de inicio de sesión 
          secretos y seguros, además de verificar periódicamente los retiros generados por el portal administrativo, 
          sí encuentra alguna anomalía, por favor comunicarse con la administración.
        </p>
        <div class="pw-links">
          <button class="pw-boton" onclick=window.location.href="{% url 'Home' %}"><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
          <button class="pw-boton" onclick=window.location.href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i></button>
          <a href="https://wa.me/573205997183">
            <button class="pw-boton"><i class="fa-brands fa-whatsapp"></i></button>
          </a>
        </div>
      </div>
    </div>
{% endblock %}