{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
{% if messages %}
<div class="{{ message.tags }}">
    <ul class="ul-messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }} {{ message.extra_tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
</div>
{% else %}
<div style="height: 49px;"></div>
{% endif %}
<div class="payment">
    <div class="payment_title">
        <h1>INSCRIPCIONES</h1>
        <h3>VRTFUND provee los siguientes métodos de pago tome en cuenta que al seleccionar su método de pago, 
            es necesario que se ponga en contacto con un administrador para validar el mismo antes de completar 
            la transacción.
        </h3>
    </div>
    <div class="payment_container">
        <div class="payment_box">
            <!--<span style="background-image: url( {%  'images/brands/metamask.png' %} )"></span>-->
            <div class="payment_info">
                <h1>Metamask</h1><br>
                <h4>Criptomonedas</h4>
                <h4>BTC/ETH/BNB</h4>
                <div class="pay_button_container">
                    <button id="play1" class="tutorial_button">
                        <i class="fa-solid fa-question"></i>
                    </button>
                    <a href="{% url 'InfoForm' %}">
                        <button type="submit" class="pay_button">SOLICITAR</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="payment_box">
            <!--<span style="background-image: url( {%  'images/brands/metamask.png' %} )"></span>-->
            <div class="payment_info">
                <h1>Binance</h1><br>
                <h4>Criptomonedas</h4>
                <h4>USDT/BUSD/USDC</h4>
                <div class="pay_button_container">
                    <button id="play2" class="tutorial_button">
                        <i class="fa-solid fa-question"></i>
                    </button>
                    <a href="{% url 'InfoForm' %}">
                        <button type="submit" class="pay_button">SOLICITAR</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="payment_box">
            <!--<span style="background-image: url( {%  'images/brands/metamask.png' %} )"></span>-->
            <div class="payment_info">
                <h1>Fiat</h1><br>
                <h4>Efectivo/Transferencia</h4>
                <h4>COP/USD/CHF</h4>
                <div class="pay_button_container">
                    <button id="play3" class="tutorial_button">
                        <i class="fa-solid fa-question"></i>
                    </button>
                    <a href="{% url 'InfoForm' %}">
                        <button type="submit" class="pay_button">SOLICITAR</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <dialog id="dlog" class="dlog">
        <div id="video-player">
            <div class="button-video-container">
                <button id="back" class="adm-video adm-video-close"><i class="fa-solid fa-x"></i></button>
            </div>
            <div class="main-play">
                <video id="tut1" class="video-player" controls width="70%" height="70%" src="{% static '/video/tut1.mp4' %}"></video>
                <video id="tut2" class="video-player" controls width="70%" height="70%" src="{% static '/video/tut2.mp4' %}"></video>
                <video id="tut3" class="video-player" controls width="70%" height="70%" src="{% static '/video/tut3.mp4' %}"></video>
            </div>
        </div>
    </dialog>
    <div class="payment_coments">
        <h3>VRTFUND provee los siguientes métodos de pago, la activación del registro se realizará en las próximas 
            24 horas posteriores a la confirmación del pago, para mayor información contacte con un administrador.
        </h3><br><br>
    </div>
    <script src="{% static 'js/tutorials.js' %}"></script>
</div>
{% endblock %}
