{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}VRT Inversiónes{% endblock %}</title>
  <link rel="shortcut icon" href="{% static '/icon/vrt.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/all.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/v4-shims.css' %}">
</head>
<body>

{% block block %}
<div class="info-investment">
    <h1>SIMULADOR</h1><br>
    <h3>Con el plazo y el monto que quieres invertir podrás simular el comportamiento aproximado de la inversión
        Las comisiones y el capital inicial podrán ser retirados en cualquier momento, para mayor información consulte
        los Términos y condiciones.
    </h3>
</div>
<div class="container-inv">
    <div class="inv-output">
        <input class="inv-ammount" type="number" placeholder="¿Cuanto dinero Invertiras?" id="cash" min="0" max="9999999999" step="100000">
        <div class="inv-results">
            <h1 class="inv-results-h1" id="ctotal">-</h1>
        </div>
        <div class="choices">
            <input class="button-choices" name="ammount_for" type="button" id="m1" value="3 Meses-1%" required>
            <input class="button-choices" name="ammount_for" type="button" id="m2" value="6 Meses-2%" required>
            <input class="button-choices" name="ammount_for" type="button" id="m3" value="12 Meses-3%" required>
        </div>
        <div class="inv-details">
            <span id="title">Capital Inicial:</span><span id="rammount">-</span>
        </div>
        <div class="inv-details">
            <span id="title">Interes:</span><span id="rinterest">-</span>
        </div>
        <div class="inv-details">
            <span id="title">Interes:*</span><span id="daylint">-</span>
        </div><hr class="inv-hr">
        <div class="inv-details">
            <span id="title">Total:</span><span id="rtotal">-</span>
        </div>
        <script src="{% static 'js/jinvs.js' %}"></script>
        <div class="button-investment-container">
            <button class="button-investment" onclick=window.location.href="{% url 'Home' %}">
                <h5 class="button-investment-h5"><i class="fa-solid fa-delete-left"></i></h5>
            </button>
            <button class="button-investment" onclick=window.location.href="{% url 'Info' %}">
                <h5 class="button-investment-h5"><i class="fa-solid fa-comments-dollar"></i></h5>
            </button>
            <button class="button-investment" onclick=window.location.href="{% url 'Investment' %}">
                <h5 class="button-investment-h5"><i class="fa-solid fa-arrows-rotate"></i></h5>
            </button>
            {% if user.is_staff %}
                <button class=" button-investment button-premium" onclick=window.location.href="{% url 'InvEspecial' %}">
                    <h5 class="button-investment-h5"><i class="fa-solid fa-users"></i></h5>
                </button>
            {% endif %}
        </div>
    </div>
</div>
<div class="info-investment investment-bottom">
    <h3>(Interes*) Comisiones recibidas de intereses diarios que seran agregados a la cuenta del usuarios diariamente
        VRTFund realiza las operaciones de carga de fondos diariamente a las 0:00 UTC
    </h3>
    <a class="invest-legal" href="{% url 'Legal' %}"><h5>TERMINOS & CONDICIONES</h5></a>
</div>
{% endblock %}
</body>
</html>
