@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{font-family: 'Josefin Sans', sans-serif;}
* {-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility;}

body{
    margin: 0; 
    padding: 0;
    background: linear-gradient(270deg, #142949, #144150 );
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin-top: 5%;
}

.login-form {
    padding: 2em;
    padding-bottom: 1em;
    width:25%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.20);
}

.flex-row {
    display: flex;
    margin-bottom: 1em;
}

.lf--label {
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f6f8;
    cursor: pointer;
}

.lf--input {
    flex: 1;
    padding: 1em;
    border: 0;
    color: #8f8f8f;
    font-size: 1rem;
}
.lf--input:focus {
    outline: none;
}

.lf--submit {
    display: block;
    padding: 1em;
    width: 100%;
    background: linear-gradient(to top, #0f5368, #0f708d );
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.95em;
    font-weight: 600;
    transition: 1.35s all;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.lf--submit:focus {
    outline: none;
    transform: scale(1.01);
}

.lf--forgot {
    display: flex;
    margin-top: 1em;
    color: rgb(161, 158, 151);
    font-size: 0.65em;
    text-align: center;
    justify-content: center;
}

.lf--allready {
    display: flex;
    margin: 1em 0 0 0;
    padding: 0;
    color: rgb(211, 207, 199);
    font-size: 0.75em;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s all;
}.lf--allready:hover{color: rgb(130, 260, 140)}

.login__field {
	padding: 20px 0px;	
	position: relative;
}

.login__icon {
	position: absolute;
	top: 16px;
	color: #0b2742;
	left: 14px;
	transform:scale(2);
}


