@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
* {-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility;}
*{font-family: 'Josefin Sans', sans-serif;}


/* Header section start */
.wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 30px 5px;
  padding-right: 15px;
}*{box-sizing:border-box;}

.wrapper .left{
	display: flex;
	align-items: center;
	height: 50px;
	padding-left: 25px;
	text-align: right;
  transition: all 0.5s;
  }.wrapper .left a{color: #ffffff;}.wrapper button{cursor: pointer;}

/* Transforms */
.wrapper .left:hover{filter: brightness(130%)}

*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
*:active {
  outline: 0 !important;
  box-shadow: none !important;
}

.wrapper .right{
  display: flex;
  align-items: center;
  text-align: right;
  margin-top: -5px;
  padding-right: 25px;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
button:-webkit-any-link {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

@media (max-width: 600px) {
  .wrapper .right{display: none;}
  .wrapper .left{text-align: center;margin: 5px auto 20px;}
}

button.link{
  font-size: 14px;
  color: #caced4;
  text-decoration: none;
  padding:0px;
  margin-left: 20px;
  border-width:0px;
  background:none;
  transition: all 0.5s;
}button.link-right{margin-top: 0px;}
button.link:hover{color: #61CE70;}

.info-home{
  max-width: 700px;
  min-width: 300px;
  margin: 30px 0 15px 0;
  padding-left: 50px;
  font-weight:lighter;
  line-height:17px;
  text-align: justify;
}
.info-home h4{
  margin: 0;
  color: #ccc;
  letter-spacing: 1px;
  font-weight: 10;
  text-transform: none;
}

.title-home {
  margin-top: 100px;
  padding-left: 50px;
  line-height: 100px;
  letter-spacing: 1px;
  line-height:70px;
  text-decoration: none;
  text-transform: capitalize;
}
.title-home h1{
  margin: 0;
  color:#ffffff;
  font-family:'Josefin Sans', sans-serif;
  font-size: 80px;
  font-weight:100;
}
button.link-title{
  margin: 0px;
  color: #ccc;
  background: none;
  height: 50px; 
  border: none;
  font-size: 34px;
  padding: 0;
  cursor: pointer;
  transition: 1s all;
  margin-left: -17px;
}.h5-links{font-size:14px;margin:0;}
button.link-title:hover{color: #61CE70;}

/* Header section end */

/* body section start */
body{margin: 0;
    background: linear-gradient(270deg, #142949, #144150 );
}


.success {
  font-family: 'Work Sans';
  font-size:medium;
  text-transform: uppercase;
  background-color:palegreen;
  height: 35px;
  margin: 0px;
  margin-top: -16px;
  font-weight: bolder;
  align-items: center; 
  text-align: center;
}

.error {
  font-family: 'Work Sans';
  font-size:medium;
  text-transform: uppercase;
  background-color:rgb(251, 152, 152);
  height: 35px;
  margin: 0px;
  margin-top: -16px;
  font-weight: bolder;
  align-items: center; 
  text-align: center;
}

.ul-messages{margin-bottom:20px;padding:0;}.info {font-size:xx-small;height:10px;}
.messages-hiden{margin-bottom:23px;background:none;}


.container-home {
  display: flex;
  width: 100%;
  margin-top: -50px;
}
.main-home {
  padding: 0;
}

.main-play {
  border-radius: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-right: 80px;
}
.video-player{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
  margin-right: -90px;
}

.dlog {border: none;text-align: center; background: none;}
.dlog::backdrop {background: rgba(0, 0, 0, 0.800);}

.img-play-container{
  position: relative;
}

.img-forex span{
  position: fixed;
  z-index: 1;
  width: 540px;
  height: 350px;
  margin-left:90px;
  opacity: 0.3;
}

.play-button {
  position: relative;
  z-index: 2;
  background:no-repeat;
  flex: 1;
  padding: 0;
  border: none;
  display: flex;
  background: none;
  align-items: center;
  justify-content: center;
  margin: 130px 0 0 300px;
  cursor: pointer;
  transition: all 1.3s;
}.play-button:hover{transform:scale(1.05); -webkit-transform:scale(1.05);}

.button-video-container{
  position:fixed;
  top: 20px;
  right: 20px;
}
.adm-video {
  background: none;
  font-size:medium;
  border: none;
  color: #ccc;
  cursor: pointer;
  transition: all 0.5s
}
/* Transforms */
.adm-video:hover{color: rgb(130, 260, 140);transform:scale(1.1); -webkit-transform:scale(1.1); }


/* Home *LOGIN* section start */

.title-home-login {
  margin-top: 30px;
  padding-left: 50px;
  line-height: 100px;
  letter-spacing: 1px;
  line-height:70px;
  text-decoration: none;
  text-transform: capitalize;
}

.title-home-login h2{
  font-size: 50px;
  margin: 0;
  text-align: center;
  color:#ffffff;
  font-weight:bold;
  padding: 0 0 8px 0;
  font-family:'Josefin Sans', sans-serif;
}
.title-home-login h1 {
  font-size: 100px;
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  color:#b39568;
  font-weight:bold;
  padding: 0 0 8px 0;
  font-family:'Josefin Sans', sans-serif;
}

.main-home-columns {
  display: flex;
  flex-direction: row;
}

.home-simulator {
  display: flex;
  margin-top: 40px;
}.text-home-simulator{padding: 0;margin: 0;}

.info-home-simulator {
  width: 480px;
  margin-left: 50px;
}
.button-home-simulator, .button-home-interface{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: calc(100% + 20px) calc(100% + 20px);
  appearance: none;
  border-radius: 20px;
  border-width: 0;
  color: rgb(248, 245, 245);
  cursor: pointer;
  font-family: CircularStd,sans-serif;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
  transition: background-color .2s,background-position .2s;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  padding: 5px;
}
.home-simulator-icon{font-size: 2rem;align-items: center;}
.button-home-simulator{transition: 1s all;margin: 7px 0px 0px 5px; background: none;}
.button-home-interface{transition: 1s all;margin: 7px 5px 0px 0px; font-size: 1rem;}

.button-home-h5{margin: 0;padding: 10px 5px 10px 5px}
.button-home-simulator:hover, .button-home-interface:hover{color: rgb(130, 260, 140)}



.info-home-simulator h4{
  font-size:medium;
  margin: 10px 0 0 0;
  color: #ccc;
  font-weight: lighter;
  font-family:'Josefin Sans', sans-serif;
}

.benefits-home{
  height: 150px;
  width: 430px;
  margin:38px 0 20px 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.30);
	font-size: 1.6rem;
	place-items: center;
  text-align: center;
	border: 6px solid;
  transition: 0.5s all;
	border-image: linear-gradient(270deg, #277b97, #599249 ) 1;
}

.benefits-button{background: none;border: none;}
.benefits-home-h1{
  color: #fff;
  margin: 0;
  padding: 15px 0 0 0;
  font-size: x-large;
  font-weight: bold;
}.benefits-home:hover{border-image: linear-gradient(270deg, #7f9727, #924949 ) 1}

.main-home-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.text-benefits-h5{
  color: #ccc;
  margin: 5px 0 10px 0;
  padding: 0;
  font-size: small;
  justify-content: center;
  font-family:'Josefin Sans', sans-serif;
}
.plan-container{
  display: flex;
  align-items: center;
  text-align: center;
}
.plan-title{
  background: rgba(0, 0, 0, 0.30);
  margin: 10px;
  width: 80px;
  height: 120px;
  font-weight: 200;
  border-radius: 5px;
  text-align: center;
}
.plan-info-h1{color: #01ff38c5;margin: 15px 0 -5px 0;padding: 0;font-size:xx-large}
.plan-info-h4{color: #ccc;margin:-5px 0 0 0;padding: 0;font-size:small}
.plan-info-h5{color: #ccc;margin:-5px 0 0 0;padding: 0;font-size:x-small}
.plan-info-h6{color: #ccc;margin:0;padding: 0;font-size:x-small}

.plan-final-container{
  max-width: 500px;
}
.plan-final-info{
  color: #caced4;
  text-align: center;
  font-size:x-small;
  margin-left: 20px;
  text-transform: uppercase;
}

/* Home *LOGIN* section end */


.container-inv{
  display: flex;
  margin: 0;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.inv-ammount{
  margin-top: 25px;
  margin-bottom: 10px;
  width: 90%;
  height: 30px;
  text-align:center;
  border-radius: 5px;
  padding-left: 15px;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.95);
}

.button-choices{
  padding: 5px;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 100;
  transition: all 0.5s;
  margin-bottom: 20px;
}.button-choices:hover {background:#96a5ac77}
 

.inv-output{
  border-radius: 10px;
  width: 25%;
  height: 300px;
  background: rgba(0, 0, 0, 0.30);
}.inv-hr{border-color: #96a5ac31; width: 90%;}

.inv-results{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #01ff38;
  height: 70px;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  margin: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.50);
  font-size: 18px;
  font-weight: 600;
}.inv-results-h1{text-align: center;}


.inv-details{
  display: flex;
  margin: 5px;
  color: #ccc;
  padding: 0 15px 0 15px;
  justify-content: space-between;
}


.widget-menu{
  display: block;
  padding: 10px 30px 30px 30px;
  text-align:center;
  justify-content: center;
  margin-bottom: 100px;
}

.widget-container {
  background-color: #1e1e1e;
  border-style: solid;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  border: #142949;
  margin: 10px 0px 10px 0px;
  border-width: 2px;
  padding: 10px 25px 10px 50px;
  
}.widget-title{
  display: flex;
  font-size: small;
  justify-content: space-between;
  color: #fff;}

.widget-info{
  transition: max-height 0.85s ease-in-out;
  text-align: left;
  overflow: hidden;
  color: #686868;
  max-height: 0;
  height:100%;
  font-size: smaller;
  vertical-align: baseline;
}.toggle-down, .toggle-right{transition: 0.75s all;background: none;border: none;font-size: x-large;color: #caced4;}
.toggle-down:hover, .toggle-right:hover{color: rgb(130, 260, 140);transform:scale(1.01); -webkit-transform:scale(1.01); }


.contenedor-carousel{
  display: flex;
}
/* body section end */





/* Terms&Conditions section start */
.legal_title{
  padding: 20px 80px 0px 60px;
  margin-bottom: 0px;
  color: #caced4;
  font-weight: bold;
}.legal_title h1{padding-bottom: 0; margin-bottom: 0;}

.legal_text{
  padding: 10px 80px 10px 60px;
  justify-content: center;
  text-align: justify;
}

.legal_text h4 p{
  color: #caced4;
  font-size: medium;
  font-weight:lighter;
}


/* Terms&Conditions section end */

/* footer section start */
.footer-distributed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #0f0c29, #1c1a3b, #1b1b2e);
  text-align: left;
  margin: 0px;
  font: normal 2px sans-serif;
  padding: 13px 40px;
}

.footer-distributed .footer-left p {
  color:#caced4;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color:#caced4;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.3;
  text-decoration: none;
  color:#caced4;
  transition: ease .25s;
  font-size: 10px;
}

.footer-distributed .footer-links a:before {
  font-size: 20px;
  left: 0;
  color:#caced4;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all 0.35s;
}

/* Transforms */
.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

@media (max-width: 600px) {
  .footer-distributed{
    padding: 5px 40px;
  }
  .footer-distributed .footer-right{
    display: none;
  }
  .footer-distributed .footer-left .footer-links, .footer-links {
    text-align: center;
    margin: 5px auto 20px;
  }
  .footer-distributed .footer-left p{
    text-align:center;
    margin: -10px auto 20px;
  }
}
/* footer section end */