{% extends 'registration/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
	<div class="container">
      <img class="img-pw1" src="{% static '/images/em1.png' %}" alt="img-pw1">
      <div class="container-pw">
            <h2 class="pw-h2">VERIFICADO</h2><br>
            <h3 class="pw-h3">Felicidades, su validación por correo electrónico ha sido exitosa. 
                Ahora puede disfrutar de todos los servicios disponibles. Gracias por su paciencia.</h3>
            <div class="pw-links">
            <a href="{% url 'Home' %}">
              <button class="pw-boton"><i class="fa-sharp fa-solid fa-arrow-left"></i></button>
            </a>
            <a href="https://wa.me/573205997183">
              <button class="pw-boton"><i class="fa-brands fa-whatsapp"></i></button>
            </a>
          </div>
      </div>
    </div>
{% endblock %}
