{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}VRT Inversiónes{% endblock %}</title>
  <link rel="shortcut icon" href="{% static '/icon/vrt.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/all.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/v4-shims.css' %}">
</head>
<body>
    <!-- header section start -->    
    <div class="wrapper">
        <div class="left">
            <a href="{% url 'Home' %}">
            <img src="{% static '/images/vrt-logo1.png' %}">
            </a>
        </div>
        <div class="right">
            <p>{{full_name}}<br><span>{{email}}<br>{{ user.username }}</span></p>
            <object data="{% static '/images/profile.png' %}">
                <img src="{% static '/images/profile.png' %}">
            </object> 
        </div>
    </div>
    <!-- header section end -->
    {% block block %}
    {% endblock %}
    <!-- footer section start -->
    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="https://wa.me/573205997183"><i class="fa fa-whatsapp"></i></a>
        </div>
        <div class="footer-left">
            <p class="footer-links">
            <a href="#">TERMINOS & CONDICIONES</a>
            </p>
            <p>VRTFUND &copy; 2022</p>
        </div>
    </footer>
    <!-- footer section end -->
</body>
</html>
