{% extends 'interface/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
  <!-- TimeTrial section start-->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/simplyCountdown.min.js' %}"></script>
  <script> var date_string = '{{ TimeExpire }}';</script>
  <!--<div id="loader"></div>
  <script type="text/javascript">     
    window.onload = function(){$("#loader").fadeOut(1200);}     
  </script>-->
  <div class="time-ammount">
    <div class="time_trial">
      <div class="date"><span id="days"></span><p class="cm">DIAS</p></div>
      <div class="date"><span id="hours"></span><p class="cm">HORAS</p></div>
      <div class="date"><span id="minutes"></span><p class="cm">MINUTOS</p></div>
      <div class="date"><span id="seconds"></span><p class="cm">SEGUNDOS</p></div>
    </div>
    <script> let bar_percent =TimeKValue;</script>
    <div class="progress-bar-container">
      <div class="progress-bar" id="progress-bar"></div>
    </div>
    <script src="{% static 'js/progressbar.js' %}"></script>
    <script src="{% static 'js/progressbar_bar.js' %}"></script>

    <div class="ammount">
      <p class="ammount_value">{{user.ammount|intcomma}}</p>
      <p class="help_text_a">Actualmente genera intereses al {{user.interest|intcomma}}% Mensual</p>
      <p class="help_text_b">Máximo beneficio al finalizar la suscripción ${{MaxAmmount|intcomma}}</p>
    </div>
  </div>
  <!-- TimeTrial section end-->

  <!-- Knobbar section end -->
  <script src="{% static 'js/jquery.knob.js' %}"></script>
  <script src="{% static 'js/jquery_bar.js' %}"></script>
  <div class="trial_bar"><input type="text" value="{{ KnobValue }}" class="dial"></div>
  <div class="dial-value" for="text-dial">
      <p>{{ KnobText }}</p>
      <!--<p>{{ InteretTotal }}% E.A</p>-->
  </div>
  <!-- Knobbar section end-->
  <div class="contect-container">
    <div class="contect">
      {% if user.is_staff %}
        <div class="name n3">COMISIONES
          <p class="help_text">$Ingresos x Asociados</p>
          <p class="valor">{{user.ref_available|intcomma}}</p>
        </div>
      {% else %}
      <div class="name n3">INTERESES
        <p class="help_text">$Interes Diario</p>
        <p class="valor">{{TotalDayli|intcomma}}</p>
      </div>
      {% endif %}
      <div class="name n2">ACUMULADO
        <p class="help_text">$Intereses Acumulado</p>
        <p class="valor">{{user.available|intcomma}}</p>
      </div>
      <div class="name n1">ABONADO
        <p class="help_text">$Pagado o en proceso</p>
        <p class="valor">{{TotalPaid|intcomma}}</p>
      </div>
      <div class="name n4">TOTAL
        <p class="help_text">$Total Historico</p>
        <p class="valor">{{TotalCash|intcomma}}</p>
      </div>
    </div>
  </div>
  <div class="adm">
    <button class="adm-boton" onclick=window.location.href="{% url 'Home' %}"><i class="fa-solid fa-circle-arrow-left"></i></button>
    <button class="adm-boton" onclick=window.location.href="{% url 'Tickets' %}"><i class="fa-solid fa-money-bill-transfer"></i></button>
    <button class="adm-boton" onclick=window.location.href="{% url 'History' %}"><i class="fa-solid fa-receipt"></i></button>
    {% if sState %}
      <button class="adm-boton" onclick=window.location.href="{% url 'Gift' %}"><i class="fa-solid fa-gift"></i></button>
    {% endif %}
  </div>
{% endblock %}



