{% extends 'interface/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
<!-- TimeTrial section start-->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/simplyCountdown.min.js' %}"></script>
<script> var date_string = '{{ date_expire }}';</script>

<!--<div id="loader"></div>-->
<script type="text/javascript">     
  window.onload = function(){$("#loader").fadeOut(1200);}     
</script>  
<div class="time-ammount">
  <div class="time_trial">
    <div class="date"><h1><span id="days"></span></h1><h1 class="cm">DIAS</h1></div>
    <div class="date"><h1><span id="hours"></span></h1><h1 class="cm">HORAS</h1></div>
    <div class="date"><h1><span id="minutes"></span></h1><h1 class="cm">MINUTOS</h1></div>
    <div class="date"><h1><span id="seconds"></span></h1><h1 class="cm">SEGUNDOS</h1></div>
  </div>

  <script> let bar_percent = {{ time_percent }};</script>
  <div class="progress-bar-container">
    <div class="progress-bar" id="progress-bar"></div>
  </div>
  <script src="{% static 'js/progressbar.js' %}"></script>
  <script src="{% static 'js/progressbar_bar.js' %}"></script>

  <div class="ammount">
    <h1 class="ammount_value">{{ammount|intcomma}}</h1>
    <h6 class="help_text_a">Actualmente genera intereses al {{interest|intcomma}}% Mensual</h6>
    <h6 class="help_text_b">Máximo beneficio al finalizar la suscripción ${{max_profit|intcomma}}</h6>
  </div>
</div>
<!-- TimeTrial section end-->

<!-- Knobbar section end -->
<script src="{% static 'js/jquery.knob.js' %}"></script>
<script src="{% static 'js/jquery_bar.js' %}"></script>
<div class="trial_bar"><input type="text" value="{{ knobvalue }}" class="dial"></div>
<div class="dial-value" for="text-dial"><h1>{{ knobtext }}</h1></div>
<!-- Knobbar section end-->
<div class="contect-container">
  <div class="contect">
    {% if user.is_staff %}
      <div class="name n3">COMISIONES
        <h6 class="help_text">$Ingresos extras por Asociados</h6>
        <h1 class="valor">{{ref_available|intcomma}}</h1>
      </div>
    {% else %}
    <div class="name n3">INTERESES
      <h6 class="help_text">$Interes Diario</h6>
      <h1 class="valor">{{dayli_interest|intcomma}}</h1>
    </div>
    {% endif %}
    <div class="name n2">ACUMULADO
      <h6 class="help_text">$Intereses a capital</h6>
      <h1 class="valor">{{available|intcomma}}</h1>
    </div>
    <div class="name n1">ABONADO
      <h6 class="help_text">$Pagado o en proceso</h6>
      <h1 class="valor">{{total_paid|intcomma}}</h1>
    </div>
    <div class="name n4">TOTAL
      <h6 class="help_text">$Total Historico</h6>
      <h1 class="valor">{{cash_total|intcomma}}</h1>
    </div>
  </div>
</div>
<div class="adm">
  <a href="{% url 'Home' %}">
      <button type="submit" class="adm-boton"><i class="fa-solid fa-circle-arrow-left"></i></button>
  </a>
  <form action="ticket">
      <button type="submit" class="adm-boton"><i class="fa-solid fa-money-bill-transfer"></i></button>
  </form>
  <a href="{% url 'History' %}">
    <button type="submit" class="adm-boton"><i class="fa-solid fa-receipt"></i></button>
  </a>
</div>
{% endblock %}



