{% extends 'interface/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
<div class="container">
      <script> var available = '{{ user.available }}';</script>
      <script> var ref_available = '{{ user.ref_available }}';</script>
      <script> var cash_total = '{{ TotalCash }}';</script>
      <script> var fee = '{{ TAX }}';</script>
      <script> var min_ammount = '{{ Setting.sTicketsAmmount }}';</script>
      <form action="{% url 'History' %}" target="_self" method="POST" name="ticket" id="ticket">
        {% csrf_token %}
        <div class="label">
          <p class="font-h3">{{user.full_name}}</p>
          <img src="{% static '/images/logo/vrt-logo2.png' %}" name="logo" width="52">
        </div>
        <div class="label">
          <span id="title">$Disponible Total:</span><span id="aviable_value">${{ user.available|intcomma }}</span>
        </div>
        <div class="choices">
          {% if user.is_staff %}
            <input class="radio-choices" name="ammount_from" type="radio" id="choice1" value="f1" required>
            <label for="choice1">Intereses</label>
            <input class="radio-choices" name="ammount_from" type="radio" id="choice2" value="f2" required>
            <label for="choice2">Comisiones</label>
          {% else %}
            <input class="radio-choices" name="ammount_from" type="radio" id="choice1" value="f1" required checked style="display: none;">
          {% endif %}
        </div>
        <div class="label">
          <label for="name">Valor:</label>
          <input type="number" class="label_input" name="ammount" id="ammount" min="0" required/>
        </div>
        <div class="choices">
          <input class="radio-choices" name="bank" type="radio" id="choice1" value="Cryptos" required>
          <label for="choice1">Transferencia</label>
          <input class="radio-choices" name="bank" type="radio" id="choice2" value="Transferencia" required>
          <label for="choice2">Efectivo</label>
        </div>
        <div class="label">
          <label for="name">#Cuenta:</label>
          <input type="text" class="label_input" name="bank_account" id="bank_account" value="{{user.bank_account}}" required/>
        </div>
        <div class="label">
          <span class="splitext">Costo:</span>
          <span>${{TAX|intcomma}}</span>
        </div>
        <textarea class="textarea" name="message" for="message" id="message" maxlength="256"></textarea><p></p>
        <button type="submit" class="boton_ticket" name="succces"><i class="fa-solid fa-money-check-dollar"></i></button>
        <script src="{% static 'js/forms.js' %}"></script>
      </form>
    <button onclick=window.location.href="{% url 'Interface' %}" class="boton_ticket succces" name="comeback"><i class="fa-solid fa-delete-left"></i></button>
</div>
{% endblock %}

