{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}VRT Inversiónes{% endblock %}</title>
  <link rel="shortcut icon" href="{% static '/icon/vrt.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/all.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/v4-shims.css' %}">
</head>
<body>
    <!-- header section start -->    
    <div class="wrapper">
        <div class="left">
            <button class="link link-left" onclick=window.location.href="{% url 'Home' %}">
                <img src="{% static '/images/vrt-logo0.png' %}">
            </button>
        </div>
        <div class="right">
            {% if user.is_authenticated %}
                <!--<button class="link link-right" onclick=window.location.href="{% url 'Investment' %}">
                    <h5 class="h5-links"><i class="fa-solid fa-calculator"></i> SIMULADOR</h5>
                </button>
                <button class="link link-right" onclick=window.location.href="{% url 'Content' %}">
                    <h5 class="h5-links"><i class="fa-solid fa-sack-dollar"></i> SERVICIOS</h5>
                </button>
                <button class="link link-right" onclick=window.location.href="{% url 'Benefit' %}">
                    <h5 class="h5-links"><i class="fa-solid fa-file-circle-plus"></i> BENEFICIOS</h5>
                </button>
                <button class="link link-right" onclick=window.location.href="{% url 'Info' %}">
                    <h5 class="h5-links"><i class="fa-solid fa-screwdriver-wrench"></i> PAGOS</h5>
                </button>-->
                <button class="link link-right" onclick=window.location.href="{% url 'logout' %}">
                    <h5 class="h5-links">LOGOUT <i class="fa-solid fa-right-from-bracket"></i></h5>
                </button>
            {% else %}
                <button class="link link-right" onclick=window.location.href="{% url 'login' %}">
                    <h5 class="h5-links">LOGIN <i class="fa-solid fa-right-from-bracket"></i></h5>
                </button>
            {% endif %}
        </div>
    </div>
     <!-- header section end -->


     <!-- HomePages section end --> 
    {% block block %}
    {% endblock %}
    <!-- HomePages section end --> 

    <!-- footer section start -->
    {% block footer %}
    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="https://wa.me/573205997183"><i class="fa fa-whatsapp"></i></a>
        </div>
        <div class="footer-left">
            <p class="footer-links">
            <a href="{% url 'Legal' %}">TERMINOS & CONDICIONES</a>
            </p>
            <p>VRTFUND &copy; 2022</p>
        </div>
    </footer>
    {% endblock %}
    <!-- footer section end -->
</body>
</html>
