{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
<div class="widget-menu">
    <div class="widget-container">
        <div class="widget-title">
            <p class="title-text font-h2" id="title-text">VIAJES</p>
            <button class="toggle-right" id="toggle-right"><i class="fa-solid fa-circle-chevron-right"></i></button>
            <button class="toggle-down" id="toggle-down" style="display: none;"><i class="fa-solid fa-circle-chevron-down"></i></button>
        </div>
        <div class="widget-info" id="widget-info">
            <p>VIAJES TODO PAGO A DESTINOS NACIONALES E INTERNACIONALES, PARA NUESTROS CLIENTES INVERSIONISTAS SORTEOS ANUALES</p>
        </div>
    </div>
    <div class="widget-container">
        <div class="widget-title">
            <p class="title-text font-h2" id="title-text">DESCUENTOS EN CENTROS VACACIONALES</p>
            <button class="toggle-right" id="toggle-right"><i class="fa-solid fa-circle-chevron-right"></i></button>
            <button class="toggle-down" id="toggle-down" style="display: none;"><i class="fa-solid fa-circle-chevron-down"></i></button>
        </div>
        <div class="widget-info" id="widget-info">
            <p>PROXIMAMENTE, SERVICIO DE DIVERSION Y ALOJAMIENTO EN NUESTROS CENTROS VACACIONALES A NIVEL NACIONAL, HASTA 80% DE DESCUENTO</p>
        </div>
    </div>
    <div class="widget-container">
        <div class="widget-title">
            <p class="title-text font-h2" id="title-text">BONOS DE REGALO</p>
            <button class="toggle-right" id="toggle-right"><i class="fa-solid fa-circle-chevron-right"></i></button>
            <button class="toggle-down" id="toggle-down" style="display: none;"><i class="fa-solid fa-circle-chevron-down"></i></button>
        </div>
        <div class="widget-info" id="widget-info">
            <p>TARJETAS DE REGALO PARA QUE REDIMAS EN LAS MEJORES TIENDAS DEL PAIS</p>
        </div>
    </div>
    <div class="widget-container">
        <div class="widget-title">
            <p class="title-text font-h2" id="title-text">TARJETAS INTERNACIONALES</p>
            <button class="toggle-right" id="toggle-right"><i class="fa-solid fa-circle-chevron-right"></i></button>
            <button class="toggle-down" id="toggle-down" style="display: none;"><i class="fa-solid fa-circle-chevron-down"></i></button>
        </div>
        <div class="widget-info" id="widget-info">
            <p>SIM CARD INTERNACIONALES LLAMADAS Y DATOS PARA TUS VIAJES AL EXTERIOR</p>
        </div>
    </div>
    <div class="widget-container">
        <div class="widget-title">
            <p class="title-text font-h2" id="title-text">ASESORIAS</p>
            <button class="toggle-right" id="toggle-right"><i class="fa-solid fa-circle-chevron-right"></i></button>
            <button class="toggle-down" id="toggle-down" style="display: none;"><i class="fa-solid fa-circle-chevron-down"></i></button>
        </div>
        <div class="widget-info" id="widget-info">
            <p>ASESORIAS PERSONALIZADAS EN DIFERENTES CAMPOS, DERECHO, PSICOLOGIA, COMERCIO EXTERIOR</p>
        </div>
    </div>
</div>
<script src="{% static 'js/box-dropdown.js' %}"></script>
{% endblock %}

