{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}


{% block block %}
{% if user.is_authenticated %}
{% else %}
<div class="container-home">
    <div class="main-home">
        <div class="title-home">
            <h1>FONDO</h1>
            <h1>COLECTIVO
                <button class="link-title" onclick=window.location.href="{% url 'login' %}">
                    <h5>SINGUP <i class="fa-solid fa-user-plus"></i></h5>
                </button>
            </h1>
        </div>
        <div class="info-home">
            <h4>¿Sabías qué los Fondos de Inversión Colectiva, son una alternativa de inversión que te permite diversificar tus recursos para alcanzar tus sueños a corto mediano o largo plazo?</h4>
        </div>
    </div>
    <dialog id="dlog" class="dlog">
        <div id="video-player">
            <div class="button-video-container">
                <button id="back" class="adm-video adm-video-close"><i class="fa-solid fa-x"></i></button>
            </div>
            <div class="main-play">
                <video id="vrt-video" class="video-player" controls width="70%" height="70%" src="{% static '/video/vrt.mp4' %}"></video>
            </div>
        </div>
    </dialog>
    <button id="play" class="play-button">
        <i><img src="{% static '/images/play-icon.png' %}"></i>
    </button>
    <script src="{% static 'js/video.js' %}"></script>
</div>
{% endif %}
{% endblock %}

