{% load static %}
{% load humanize %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VRT Inversiónes</title>
  <link rel="shortcut icon" href="{% static '/icon/vrt.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
  <link rel="stylesheet" href="{% static '/dorang/assets/css/dorang.css' %}">
  <link rel="stylesheet" href="{% static '/dorang/assets/css/dorang-pages.css' %}">
  {% tailwind_css %}
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/all.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/v4-shims.css' %}">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
    function onSubmit(token) {
      document.getElementById("info-form").submit();
    }
  </script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme-fond">
<div class="super-container">
    <div class="container">
        <form id="info-form" action="{% url 'Info' %}" target="_self" method="POST" class='payment-form'>
            {% csrf_token %}
            <div class="label-payment">
                <div class="label-name-paymen -ml-2">
                    <p class="name-payment-h4 font-h4">{{user.full_name}}</p>
                    <p class="name-payment-h5 font-h5">{{user.email}}</p>
                </div>
                <button class="link-img -mr-4" onclick=window.location.href="{% url 'Home' %}">
                    <img class="img-payment" src="{% static '/images/logo/vrt-logo0.png' %}" name="logo">
                </button>
            </div>
            <div class="flex flex-row text-white justify-between items-center">
                <p class="mb-3">Moneda:</p>
                <div class="flex flex-row items-center justify-center gap-x-2">
                    <label class="radio-label"><input type="radio" name="currency" id="currency" value="USD" data-max="100000" class="mr-2 mb-2" required>USD</label>
                    <label class="radio-label"><input type="radio" name="currency" id="currency" value="COP" data-max="300000000" class="mr-2 mb-2" required checked>COP</label>
                </div>
            </div>
            <div class="flex-row">
                <div class="payment__field"><i class="payment__icon fa-solid fa-sack-dollar"></i></div>
                <label class="lf--label" for="amount"></label>
                <input id="amount" type="number" class='lf--input' placeholder='Inversion' name="amount" autofocus="" required min="0" max="500000000" step="1000000">
            </div>
            <script src="{% static '/js/amount.js' %}"></script>
            <div class="flex-row">
                <div class="payment__field"><i class="payment__icon fa-solid fa-earth-americas"></i></div>
                <label class="lf--label" for="country"></label>
                <input type="text" class='lf--input' placeholder='Ubicacion/Estado' name="country" autofocus="" autocapitalize="true"  maxlength="64" required id="country">
            </div>
            <div class="flex-row">
                <div class="payment__field"><i class="payment__icon fa-solid fa-phone"></i></div>
                <label class="lf--label" for="phone"></label>
                <input type="text" class='lf--input' placeholder='Whatsapp/Telefono' name="phone"  required id="phone">
            </div>
            <div class="flex-row">
                <div class="payment__field"><i class="payment__icon fa-solid fa-building-columns"></i></div>
                <label class="lf--label" for="bank"></label>
                <input type="text" class='lf--input' placeholder='Metodo de Inversion' name="bank"  required id="bank">
            </div>
            <div class="flex-row">
                <div class="payment__field"><i class="payment__icon fa-solid fa-address-card"></i></div>
                <label class="lf--label" for="bank_account"></label>
                <input type="text" class='lf--input' placeholder='Wallet/Cuenta' name="bank_account"  required id="bank_account">
            </div>
                <button class="g-recaptcha lf--submit" data-sitekey="6LdIIq4lAAAAAEARmW2-eMwQ-xoP3xe6FFLyzd01" data-callback="onSubmit">SOLICITAR</button>
            </div>
        </form>
    </div>
</body>
</html>
