{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRT Inversiónes</title>
    <link rel="shortcut icon" href="{% static '/icon/vrt.ico' %}">
    <!-- Bootstrap + Dorang main styles -->
    <link rel="stylesheet" href="{% static '/dorang/assets/vendors/themify-icons/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static '/dorang/assets/css/dorang.css' %}">
    <link rel="stylesheet" href="{% static '/dorang/assets/css/dorang-pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/v4-shims.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme-fond">
    <!-- page navbar -->
    <nav class="page-navbar" data-spy="affix" data-offset-top="10">
        <ul class="nav-navbar container">
            <li class="nav-item">
                <a href="{% url 'Home' %}" class="nav-link">
                    <span class="nav-icon"><i class="fa-solid fa-house"></i></span>
                    <span class="nav-text">VRTFUND</span>
                </a>
            </li>
            {% if user.is_authenticated %}
                {% if user.is_operating %}
                    <li class="nav-item">
                        <a href="{% url 'Services' %}" class="nav-link">
                            <span class="nav-icon"><i class="fas fa-users"></i></span>
                            <span class="nav-text">ASOCIADOS</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'Investment' %}" class="nav-link">
                            <span class="nav-icon"><i class="fa-solid fa-calculator"></i></span>
                            <span class="nav-text">SIMULADOR</span>
                        </a>
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'Investment' %}" class="nav-link">
                        <span class="nav-icon"><i class="fa-solid fa-calculator"></i></span>
                        <span class="nav-text">SIMULADOR</span>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item"><a href="{% url 'Home' %}" class="nav-link"><img src="{% static '/icon/vrt.webp' %}" alt=""></a></li>
            {% if user.is_authenticated %}
                {% if user.is_operating %}
                    <li class="nav-item">
                        <a href="{% url 'Interface' %}" class="nav-link">
                            <span class="nav-icon"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                            <span class="nav-text">ADMINISTRAR</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'InfoForm' %}" class="nav-link">
                            <span class="nav-icon"><i class="fa-solid fa-comment"></i></span>
                            <span class="nav-text">SOLICITAR</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="nav-icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="nav-text">SALIR</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'Info' %}" class="nav-link">
                        <span class="nav-icon"><i class="fa-solid fa-file-invoice-dollar"></i></span>
                        <span class="nav-text">INVERSIONES</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">
                        <span class="nav-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                        <span class="nav-text">INGRESAR</span>
                    </a>
                </li>
            {% endif %}
            <!--<li class="nav-item search">
                <a href="javascript:void(0)" class="nav-link search-toggle"><i class="ti-search"></i></a>
                <div class="search-wrapper">
                    <form>
                        <input type="search" class="form-control" name="" placeholder="hit enter to search">
                    </form>
                </div>
            </li>-->
        </ul>
    </nav><!-- end of page navbar -->
    <!-- page container -->
    {% block block %}
    <div class="container-inv">
        <div class="inv-output">
            <input class="inv-ammount" type="number" placeholder="¿Cuanto dinero Invertiras?" id="cash" min="0" max="9999999999" step="100000">
            <div class="inv-results">
                <p class="inv-results-p" id="ctotal">-</p>
            </div>
            <div class="choices">
                <input class="button-choices" name="ammount_for" type="button" id="m1" value="3 Meses-1%" required>
                <input class="button-choices" name="ammount_for" type="button" id="m2" value="6 Meses-2%" required>
                <input class="button-choices" name="ammount_for" type="button" id="m3" value="12 Meses-3%" required>
            </div>
            <div class="inv-details">
                <span id="title">Capital Inicial:</span><span id="rammount">-</span>
            </div>
            <div class="inv-details">
                <span id="title">Interes:</span><span id="rinterest">-</span>
            </div>
            <div class="inv-details">
                <span id="title">Interes:*</span><span id="daylint">-</span>
            </div><hr class="inv-hr">
            <div class="inv-details">
                <span id="title">Total:</span><span id="rtotal">-</span>
            </div>
            <script src="{% static 'js/jinvs.js' %}"></script>
            <div class="button-investment-container">
                <button class="button-investment" onclick=window.location.href="{% url 'Home' %}">
                    <p class="button-investment-p"><i class="fa-solid fa-delete-left"></i></p>
                </button>
                <button class="button-investment" onclick=window.location.href="{% url 'Info' %}">
                    <p class="button-investment-p"><i class="fa-solid fa-comments-dollar"></i></p>
                </button>
                <button class="button-investment" onclick=window.location.href="{% url 'Investment' %}">
                    <p class="button-investment-p"><i class="fa-solid fa-arrows-rotate"></i></p>
                </button>
                {% if user.is_staff %}
                    <button class=" button-investment button-premium" onclick=window.location.href="{% url 'InvEspecial' %}">
                        <p class="button-investment-p button-premium-color"><i class="fa-solid fa-users"></i></p>
                    </button>
                {% else %}
                    <button class=" button-investment button-premium" onclick=window.location.href="{% url 'InfoForm' %}">
                        <p class="button-investment-p"><i class="fa-solid fa-plus"></i></p>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- end of page container -->
    <!-- Dorang js -->
    <script src="{% static '/dorang/assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static '/dorang/assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>
    <script src="{% static '/dorang/assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>
</body>
</html>
