{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
<div class="info-investment">
    <h1>SIMULADOR</h1><br>
    <h3>Con el plazo y el monto que quieres invertir podrás simular el comportamiento aproximado de la inversión
        Las comiciones y el capital inicial podran ser retirados en cualquier momento, para mayor informacion consulte
        los Terminos y condiciones
    </h3>
</div>
<div class="container-inv">
    <div class="inv-output">
        <input class="inv-ammount" type="number" placeholder="¿Cuanto dinero Invertiras?" id="cash" min="0" max="9999999999" step="100000">
        <div class="inv-results">
            <h1 class="inv-results-h1" id="ctotal">-</h1>
        </div>
        <div class="choices">
            <input class="button-choices" name="ammount_for" type="button" id="m1" value="3 Meses-1%" required>
            <input class="button-choices" name="ammount_for" type="button" id="m2" value="6 Meses-2%" required>
            <input class="button-choices" name="ammount_for" type="button" id="m3" value="12 Meses-3%" required>
        </div>
        <div class="inv-details">
            <span id="title">Capital Inicial:</span><span id="rammount">-</span>
        </div>
        <div class="inv-details">
            <span id="title">Interes:</span><span id="rinterest">-</span>
        </div><hr class="inv-hr">
        <div class="inv-details">
            <span id="title">Total:</span><span id="rtotal">-</span>
        </div>
        <script src="{% static 'js/jinvs.js' %}"></script>
    </div>
</div>
<div class="button-investment-container">
    <button class="button-investment" onclick=window.location.href="{% url 'Info' %}">
        <h5 class="button-investment-h5">INSCRIPCIONES</h5>
    </button>
</div>
{% endblock %}

