{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
<div class="legal_container">
    <div class="legal_title">
        <h1>TERMINOS & CONDICIONES</h1>
    </div>
    <div class="legal_text">
        <h4><p>Lorem ipsum dolor sit amet. Ab cumque voluptatum est alias molestias ut reprehenderit impedit. 
                At nemo aperiam ex provident rerum aut nostrum accusantium ut adipisci maiores. 
                Qui possimus officia in perspiciatis omnis nam consequatur obcaecati qui autem numquam quo dolor vitae.</p>
            <p>Sit similique maiores est veritatis odit aut aliquam odio qui provident earum aut dolor praesentium id
                excepturi doloribus. Eos minima voluptas eum Quis quidem nam quaerat ullam ab galisum obcaecati.
                A maiores sint aut numquam consequuntur ut galisum labore quo ducimus minima aut dolorum temporibus!</p>
            <p>Qui laboriosam earum sed blanditiis aspernatur et sunt repellendus sit velit nisi aut ratione animi.
                Quo facilis consequuntur et eaque quam ea dolorum ipsam ut sequi ipsum sed galisum illo et consequuntur
                voluptate. Aut sunt excepturi ab perferendis labore non aspernatur nisi. Sit iusto consequatur qui
                aspernatur sint et voluptates voluptas non nihil quia a galisum quia eos repellat maxime.</p>
            <p>Lorem ipsum dolor sit amet. Ab cumque voluptatum est alias molestias ut reprehenderit impedit. 
                At nemo aperiam ex provident rerum aut nostrum accusantium ut adipisci maiores. 
                Qui possimus officia in perspiciatis omnis nam consequatur obcaecati qui autem numquam quo dolor vitae.</p>
            <p>Sit similique maiores est veritatis odit aut aliquam odio qui provident earum aut dolor praesentium id
                excepturi doloribus. Eos minima voluptas eum Quis quidem nam quaerat ullam ab galisum obcaecati.
                A maiores sint aut numquam consequuntur ut galisum labore quo ducimus minima aut dolorum temporibus!
            </p>
        </h4>
    </div>
</div>
{% endblock %}