{% load static %}
{% load humanize %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VRT Inversiónes</title>
  <link rel="shortcut icon" href="{% static '/icon/vrt.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
  <link rel="stylesheet" href="{% static '/dorang/assets/css/dorang.css' %}">
  <link rel="stylesheet" href="{% static '/dorang/assets/css/dorang-pages.css' %}">
  {% tailwind_css %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/messages.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/tailwind/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/all.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/v4-shims.css' %}">
  <script type="text/javascript" src="../dist/confirmo.js"></script> 
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme-fond">
    <div class="flex items-center justify-center w-full h-full p-8">
        <div class="relative w-full max-w-2xl rounded-lg bg-opacity-20 bg-black p-8">
            <div class="w-full block sm:flex sm:flex-row sm:justify-between sm:items-center text-center">
                <div class="flex flex-col sm:text-left">
                    <p class="uppercase">{{user.full_name}}</p>
                    <p class="lowercase">{{user.email}}</p>
                </div>
                <button class="hidden sm:block sm:-mr-3" onclick=window.location.href="{% url 'Home' %}">
                    <img class="h-12 -mt-2" src="{% static '/images/logo/vrt-logo1.png' %}" name="logo">
                </button>
            </div>
            <div class="w-full text-white flex flex-row sm:justify-between sm:items-start sm:text-left mt-2">
                <div class="w-full flex flex-col items-center sm:items-start sm:justify-start leading-none">
                    <p class="flex flex-row w-full justify-center sm:justify-start items-center text-center sm:text-left">
                        <span class="hidden sm:block"><i class="fa-solid fa-earth-americas text-gray-500 mr-2 mt-1"></i></span>
                        Inversión: ${{InvRequest.ammount|intcomma}}
                    </p>
                    <!--<p class="sm:ml-12">Finaliza: {{InvRequest.date_expire|date:"d M Y"}}</p>-->
                </div>
                <div class="hidden sm:flex sm:flex-col w-full">
                    <p class="text-right">Interés Mensual: ${{Monthly|intcomma}} (Aprox)</p>
                    <p class="text-right">Máximo Beneficio: ${{MaxAmount|intcomma}}</p>
                </div>
            </div>
            <div class="flex flex-col items-center justify-start text-center pb-12 pt-4 my-4">
                <div class="w-full max-w-sm p-2 bg-gray-50 text-2xl my-4">{{InvRequest.invoice}}</div>
                <div id="accountBank" class="flex flex-row justify-center items-center my-2">
                    <div class="z-10 bg-white rounded-full"><img src="{% static '/images/brands/bancolombia.webp' %}" class="m-[0.65rem] h-8" alt=""></div>
                    <div class="z-0 bg-bancolombia pl-16 pr-6 -ml-14 rounded-full h-12 flex flex-col items-start justify-center space-y-0 leading-none cursor-copy transition duration-300 hover:bg-yellow-400">
                        <p class="text-black">Ahorros</p>
                        <p id="accountBankNumber" class="text-black">912-125942-59</p>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var accountBank = document.getElementById("accountBank");
                    var accountBankNumber = document.getElementById("accountBankNumber");
                    accountBank.addEventListener("click", function () {
                        var textoSinGuiones = accountBankNumber.textContent.replace(/-/g, '');
                        var input = document.createElement("input");
                        input.setAttribute("type", "text");
                        input.setAttribute("value", textoSinGuiones);
                        document.body.appendChild(input);
                        input.select();
                        document.execCommand("copy");
                        document.body.removeChild(input);
                        alert("¡Numero Copiado al Portapapeles!");
                    });
                });
            </script>            
            <p class="absolute px-6 hidden sm:block bottom-6 text-center text-xs font-thin text-gray-400">Incluir en el mensaje de la transacción el código de facturación; en caso de presentar algún inconveniente, por favor comunicarse con soporte técnico</p>
        </div>
    </div>
</body>
</html>