{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VRT Inversiónes{% endblock %}</title>
    <link rel="shortcut icon" href="{% static '/icon/vrt.ico' %}">
    <!-- Bootstrap + Dorang main styles -->
    <link rel="stylesheet" type="text/css" href="{% static '/dorang/assets/vendors/themify-icons/css/themify-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/dorang/assets/css/dorang.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/dorang/assets/css/dorang-pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/gift.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/cards-gift.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/fontawesome/css/v4-shims.css' %}">
    <!-- OwlCarousel ============================================================== -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme-fond">
    <!-- page navbar -->
    <nav class="page-navbar" data-spy="affix" data-offset-top="10">
        <ul class="nav-navbar container">
            <li class="nav-item">
                <a href="{% url 'Home' %}" class="nav-link">
                    <span class="nav-icon"><i class="fa-solid fa-house"></i></span>
                    <span class="nav-text">VRTFUND</span>
                </a>
            </li>
            {% if user.is_authenticated %}
                {% if user.is_operating %}
                    <li class="nav-item">
                        <a href="{% url 'Services' %}" class="nav-link">
                            <span class="nav-icon"><i class="fas fa-users"></i></span>
                            <span class="nav-text">ASOCIADOS</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'Investment' %}" class="nav-link">
                            <span class="nav-icon"><i class="fa-solid fa-calculator"></i></span>
                            <span class="nav-text">SIMULADOR</span>
                        </a>
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'Investment' %}" class="nav-link">
                        <span class="nav-icon"><i class="fa-solid fa-calculator"></i></span>
                        <span class="nav-text">SIMULADOR</span>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item"><a href="{% url 'Home' %}" class="nav-link"><img src="{% static '/icon/logo-header.png' %}" alt=""></a></li>
            {% if user.is_authenticated %}
                {% if user.is_operating %}
                    <li class="nav-item">
                        <a href="{% url 'Interface' %}" class="nav-link">
                            <span class="nav-icon"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                            <span class="nav-text">ADMINISTRAR</span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'InfoForm' %}" class="nav-link">
                            <span class="nav-icon"><i class="fa-solid fa-comment"></i></span>
                            <span class="nav-text">SOLICITAR</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="nav-icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="nav-text">SALIR</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'Info' %}" class="nav-link">
                        <span class="nav-icon"><i class="fa-solid fa-file-invoice-dollar"></i></span>
                        <span class="nav-text">INVERSIONES</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">
                        <span class="nav-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                        <span class="nav-text">INGRESAR</span>
                    </a>
                </li>
            {% endif %}
            <!--<li class="nav-item search">
                <a href="javascript:void(0)" class="nav-link search-toggle"><i class="ti-search"></i></a>
                <div class="search-wrapper">
                    <form>
                        <input type="search" class="form-control" name="" placeholder="hit enter to search">
                    </form>
                </div>
            </li>-->
        </ul>
    </nav><!-- end of page navbar -->
    <!-- page container -->
    {% block block %}
    <div class="container-cards">
        <div class="section-container">
            <div class="owl-carousel">
                {% if ListGift %}
                {% for Gift in ListGift %}
                <div class="item-container">
                    <div class="img-container">
                        <img src="{{Gift.pCard.url}}">
                    </div>
                    <div class="body-container">
                        <div class="overlay"></div>
                        <div class="event-info">
                            <p class="title">{{ Gift.pTitle }}</p>
                            <div class="separator"></div>
                            <p class="info-gift">
                                {{ Gift.pInfo }}
                            </p>
                            <div class="additional-info">
                                <p class="info-gift">
                                    <a href="{{Gift.pURL}}" target=”_blank”><p class="additional-info-p">{{ Gift.pName }}</p></a>
                                    <p class="info-gift-resume">{{ Gift.pInfoAdd }}</p><br>
                                </p>
                            </div>
                        </div>
                        <button class="action"><a class="a-blank" href="{{Gift.pURL}}">VISITAR</a></button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% for _ in '123456789' %}
                <div class="item-container">
                    <div class="img-container">
                        <img src="{% static '/images/comingsoon.png' %}">
                    </div>
                    <div class="body-container">
                        <div class="overlay-cards"></div>
                        <div class="event-info-cards">
                            <p class="title-cards">COMINGSOON</p>
                            <div class="separator"></div>
                            <p class="info-gift">
                                Lorem Ipsum is simply dummy text of the printing and typesetting Ips, 
                                Lorem Ipsum has been 
                            </p>
                            <p class="info-link"><a href="">FREE</a></p>
                            <div class="additional-info">
                                <p class="info-gift">
                                    <a href="{% url 'ComingSoon' %}" target=”_blank”><p class="info-gift-brand">ASOCIADO</p></a>
                                    <p class="info-gift-extra">
                                        It is a long established fact that a reader will be distracted by the ip<br>
                                        readable content of a page when looking at its layout. The point of using Lorem Ipsu
                                    </p>
                                </p>
                            </div>
                        </div>
                        <button class="action"><a class="a-blank" href="{% url 'ComingSoon' %}">VISITAR</a></button>
                        <!--<button class="action" onclick="openform('ComingSoon',0)">SOLICITAR</button>-->
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- end of page container -->
    <!-- Dorang js -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static '/dorang/assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>
    <script src="{% static '/dorang/assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>
</body>
</html>
