{% extends 'gift/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
<link rel="stylesheet" type="text/css" href="{% static '/css/cards-gift.css' %}">
<div class="big-container">
    <div class="container-flex">
        <div class="container">
            <div class="owl-carousel">
                {% if ListGift %}
                {% for Gift in ListGift %}
                <div class="item-container">
                    <div class="img-container">
                        <img src="{{Gift.pCard.url}}">
                    </div>
                    <div class="body-container">
                        <div class="overlay"></div>
                        <div class="event-info">
                            <p class="title">{{ Gift.pTitle }}</p>
                            <div class="separator"></div>
                            <p class="info-gift">
                                {{ Gift.pInfo }}
                            </p>
                            <p class="info-link"><a href="">{{Gift.pDiscount}}</a></p>
                            <div class="additional-info">
                                <p class="info-gift">
                                    <a href="{{Gift.pURL}}" target=”_blank”><p class="additional-info-p">{{ Gift.pName }}</p></a>
                                    <p>{{ Gift.pInfoAdd }}</p><br>
                                </p>
                            </div>
                        </div>
                        <!--<button class="action"><a class="a-blank" href="{{Gift.pURL}}">VISITAR</a></button>-->
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="item-container">
                    <div class="img-container">
                        <img src="{% static '/images/comingsoon.png' %}">
                    </div>
                    <div class="body-container">
                        <div class="overlay"></div>
                        <div class="event-info">
                            <p class="title">COMINGSOON</p>
                            <div class="separator"></div>
                            <p class="info-gift">
                                Lorem Ipsum is simply dummy text of the printing and typesetting Ips, 
                                Lorem Ipsum has been the industry's standardrys
                            </p>
                            <p class="info-link"><a href="">FREE</a></p>
                            <div class="additional-info">
                                <p class="info-gift">
                                    <a href="{% url 'ComingSoon' %}" target=”_blank”><p class="additional-info-p">ASOCIADO</p></a><br>
                                    <p>
                                        It is a long established fact that a reader will be distracted by the ip<br>
                                        readable content of a page when looking at its layout. The point of using Lorem Ipsu
                                    </p><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="admin-panel-gift">
        <button class="admin-button-big" onclick=window.location.href="{% url 'Gift' %}"><i class="fa-solid fa-circle-arrow-left"></i></button>
    </div>
</div>
<script src="{% static 'js/owl.carousel.js' %}"></script>
{% endblock %}
