{% extends 'gift/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
<!-- TimeTrial section start-->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/simplyCountdown.min.js' %}"></script>
<script> var date_string = '{{ TravelExpire }}';</script>
<div class="time-ammount">
  <img class="travel-banner" src="{{Setting.gTravelBanner.url}}">
  <div class="travel-banner-info">
    <p class="help_text_a">Sorteo anual viaje para dos personas de 3 días y 2 noches, con vuelos y hotel incluidos</p>
    <p class="help_text_b">Unicamente debes tener una suscripcion activa en VRTFund</p>
  </div>
  <div class="time_trial">
    {% if TravelState %}
      <p>{{ WinnerName }}</p>
    {% else %}
      <div class="date date-travel"><span id="days"></span><p class="cm cm-travel">DIAS</p></div>
      <div class="date date-travel"><span id="hours"></span><p class="cm cm-travel">HORAS</p></div>
      <div class="date date-travel"><span id="minutes"></span><p class="cm cm-travel">MINUTOS</p></div>
      <div class="date date-travel"><span id="seconds"></span><p class="cm cm-travel">SEGUNDOS</p></div>
    {% endif %}
  </div>
  <script> let bar_percent = TimeGValue;</script>
  <div class="progress-bar-container progress-bar-container-travel">
    <div class="progress-bar" id="progress-bar"></div>
  </div>
  <script src="{% static 'js/progressbar.js' %}"></script>
  <script src="{% static 'js/progressbar_bar.js' %}"></script>
</div>
	<link rel="stylesheet" href="{% static 'css/glider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/glider-gift.css' %}">
	<div class="contenedor-carousel contenedor-carousel-gift">
		<div class="contenedor">
			<div class="carousel">
				<div class="carousel__contenedor">
					<button aria-label="Anterior" class="carousel__anterior">
						<i class="fas fa-chevron-left"></i>
					</button>
            <div class="carousel__lista carousel__lista-gift">
              {% if ListGift %}
                {% for Gift in ListGift %}
                    <div class="carousel__elemento">
                      <img class="gift-banner-md" src="{{Gift.pBanner.url}}">
                    </div>
                {% endfor %}
              {% else %}
                <div class="carousel__elemento">
                  <img class="travel-banner" src="{% static '/images/comingsoon.png' %}">
                </div>
              {% endif %}
            </div>
					<button aria-label="Siguiente" class="carousel__siguiente">
						<i class="fas fa-chevron-right"></i>
					</button>
				</div>
				<div role="tablist" class="carousel__indicadores"></div>
			</div>
		</div>
		<script src="{% static 'js/glider.min.js' %}"></script>
		<script src="{% static 'js/glider_bar-gift.js' %}"></script>
	</div>
  <div class="adm">
    <button class="adm-boton" onclick=window.location.href="{% url 'Interface' %}"><i class="fa-solid fa-circle-arrow-left"></i></button>
    <button class="adm-boton" onclick=window.location.href="{% url 'GiftTicket' %}"><i class="fa-solid fa-gifts"></i></button>
    <button class="adm-boton" onclick=window.location.href="{% url 'Legal' %}"><i class="fa-solid fa-circle-info"></i></button>
    <!--<button class="adm-boton" onclick=window.location.href="{% url 'GiftHistory' %}"><i class="fa-solid fa-file-invoice"></i></button>-->
  </div>
{% endblock %}

