{% extends 'gift/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
{% if messages %}
<div class="{{ message.tags }}">
    <ul class="ul-messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }} {{ message.extra_tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
</div>
{% else %}
<div class="container-messages">
    <ul class="messages-hiden"></ul>
</div>
{% endif %}
<div class="history_list-base">
    <div class="history_list-table">
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">ID</div>
                <div class="col col-2">SERVICIO</div>
                <div class="col col-3">VRTs</div>
                <div class="col col-7">Fecha</div>
                <div class="col col-8">Codigo</div>
                <div class="col col-9">Estado</div>
            </li>
            <div class="table-row-container">
                {% for i in ListGiftPages %}
                <li class="table-row" style="background-color:
                {% if i.sState == 'Aprobado' %}darkseagreen{% elif i.sState == 'Denegado' %}lightcoral{% else %}gainsboro{% endif %}">
                    <div class="col col-1 col-1-data">{{ i.id }}</div>
                    <div class="col col-2 col-2-data">{{ i.sType }}</div>
                    <div class="col col-3 col-3-data">{{ i.sPts|intcomma }}</div>
                    <div class="col col-7 col-7-data">{{ i.date_join|date:"Y-m-d"  }}</div>
                    {% if i.sState == 'Aprobado' %}
                        <div class="col col-8 col-8-data">{{ i.sCode }}</div>
                    {% else %}
                        <div class="col col-8 col-8-data"></div>
                    {% endif %}
                    <div class="col col-9 col-9-data">{{ i.sState }}</div>
                </li>
                {% endfor %}
                {% if not ListGiftPages.has_next %}
                    {% for i in FixGifts %}
                        <li class="table-row-hiden" style="background-color: gainsboro"><div>-</div></li>
                    {% endfor %}
                {% elif not ListGiftPages.has_other_pages %}
                    {% for i in FixGifts %}
                        <li class="table-row-hiden" style="background-color: gainsboro"><div>-</div></li>
                    {% endfor %}           
                {% endif %}
            </div>
            {% if ListGiftPages.has_other_pages %}
            <ul class="pagination">
                {% if ListGiftPages.has_previous %}
                    <li><a href="?page={{ ListGiftPages.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li><a href="">&laquo;</a></li>
                {% endif %}
                {% for page in ListGiftPages.paginator.page_range %}
                    {% if page == ListGiftPages.number %}
                        <li class="active"><span></span></li>
                    {% else %}
                        <li class="inactive"><a href="?page={{ page }}"></a></li>
                    {% endif %}
                {% endfor %}
                {% if ListGiftPages.has_next %}
                    <li><a href="?page={{ ListGiftPages.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </ul>
    </div>
</div>
<div class="history-adm">
    <a href="{% url 'Gift' %}">
        <button class="adm-boton"><i class="fa-solid fa-circle-arrow-left"></i></button>
    </a>
    <a href="{% url 'GiftTicket' %}">
        <button class="adm-boton"><i class="fa-solid fa-gifts"></i></button>
    </a>
    <a href="{% url 'GiftHistory' %}">
        <button class="adm-boton"><i class="fa-solid fa-arrows-rotate"></i></button>
    </a>
  </div>
{% endblock %}