{% extends 'gift/base.html' %}
{% load static %}
{% load humanize %}

{% block block %}
<link rel="stylesheet" type="text/css" href="{% static '/css/cards-gift.css' %}">
<div class="big-container">
    <div class="container-flex">
        <div class="container">
            <div class="owl-carousel">
                {% if ListGift %}
                {% for Gift in ListGift %}
                <div class="item-container">
                    <div class="img-container">
                        <img src="{{Gift.pCard.url}}">
                    </div>
                    <div class="body-container">
                        <div class="overlay"></div>
                        <div class="event-info">
                            <p class="title">{{ Gift.pTitle }}</p>
                            <div class="separator"></div>
                            <p class="info-gift">
                                {{ Gift.pInfo }}
                            </p>
                            <p class="info-link"><a href="">{{Gift.pDiscount}}</a></p>
                            <div class="additional-info">
                                <p class="info-gift">
                                    <a href="{{Gift.pURL}}" target=”_blank”><h2>{{ Gift.pName }}</h2></a>
                                    <h5>{{ Gift.pInfoAdd }}</h5><br>
                                </p>
                            </div>
                        </div>
                        <button class="action"><a class="a-blank" href="{{Gift.pURL}}">VISITAR</a></button>
                        <!--<button class="action" onclick="openform({{ Gift.pName }},{{Gift.pPtsMin}})">SOLICITAR</button>-->
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="item-container">
                    <div class="img-container">
                        <img src="{% static '/images/comingsoon.png' %}">
                    </div>
                    <div class="body-container">
                        <div class="overlay"></div>
                        <div class="event-info">
                            <p class="title">COMINGSOON</p>
                            <div class="separator"></div>
                            <p class="info-gift">
                                Lorem Ipsum is simply dummy text of the printing and typesetting Ips, 
                                Lorem Ipsum has been the industry's standardrys
                            </p>
                            <p class="info-link"><a href="">FREE</a></p>
                            <div class="additional-info">
                                <p class="info-gift">
                                    <a href="{% url 'ComingSoon' %}" target=”_blank”><h2>ASOCIADO</h2></a><br>
                                    <h5>
                                        It is a long established fact that a reader will be distracted by the ip<br>
                                        readable content of a page when looking at its layout. The point of using Lorem Ipsu
                                    </h5><br>
                                </p>
                            </div>
                        </div>
                        <button class="action"><a class="a-blank" href="{% url 'ComingSoon' %}">VISITAR</a></button>
                        <!--<button class="action" onclick="openform('ComingSoon',0)">SOLICITAR</button>-->
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="admin-panel-gift">
        <button class="admin-button-big" onclick=window.location.href="{% url 'Gift' %}"><i class="fa-solid fa-circle-arrow-left"></i></button>
        <!--<button class="admin-button" onclick=window.location.href="{% url 'Legal' %}"><i class="fa-solid fa-circle-info"></i></button>-->
        <!--<button class="admin-button" onclick=window.location.href="{% url 'GiftHistory' %}"><i class="fa-solid fa-file-invoice"></i></button>-->
    </div>
    <dialog id="dlog" class="dlog">
        <div class="dlog-absolute">
            <div class="container-dlog">
                <form action="{% url 'GiftHistory' %}" target="_self" method="POST" name="giftticket" id="giftticket">
                    {% csrf_token %}
                    <div class="label">
                        <div class="label label-name">
                            <h4>{{user.full_name}}</h4>
                            <span>{{ user.rank_points|intcomma }} VRTs</span>
                        </div>
                        <img src="{% static '/images/logo/vrt-logo2.png' %}" name="logo" width="52">
                    </div>
                    <div class="label label-Gift">
                        <h4 id="tGift" name="tGift">SERVICIO</h4><h4 id="vGift" name="vGift">VALOR</h4>
                    </div>
                    <textarea class="textarea" name="message" for="message" id="message" maxlength="256" ></textarea><p></p>
                    <input id="ivGift" name="ivGift" type="hidden" value="N/A">
                    <input id="itGift" name="itGift" type="hidden" value="N/A">
                    <button type="submit" class="boton_ticket" name="succces"><i class="fa-solid fa-money-check-dollar"></i></button>
                    <script src="{% static 'js/forms.js' %}"></script>
                </form>
                <button class="boton_ticket" name="comeback" id="back"><i class="fa-solid fa-delete-left"></i></button>
            </div>
        </div>
    </dialog>
    <script src="{% static 'js/popup.js' %}"></script>
</div>
<script src="{% static 'js/owl.carousel.js' %}"></script>
{% endblock %}
