{% extends 'driver/index.html' %}
{% load static %}
{% load humanize %}
{% load static tailwind_tags %}

{% block block %}
    <div class="w-3/4 flex flex-col h-full bg-white rounded-b-md justify-between pt-4 pb-8 px-14">
        <div class="w-full flex flex-row justify-between items-center text-center uppercase font-semibold text-2xl text-vrt2">
            <div class="w-full flex flex-row gap-x-4 justify-between">
                <a href="{% url 'svAdmin' %}" class="hover:text-vrt1"><i class="fa-solid fa-house"></i></a>
                <div class="block">
                    <a href="{% url 'svAdminUser' %}" class="hover:text-vrt1"><i class="fa-solid fa-user-tag"></i></a>
                    <!--<a href="{% url 'svAdminAdd' %}" class="hover:text-vrt1"><i class="fa-solid fa-user-clock"></i></a>-->
                    <a href="{% url 'svAdminHistory' %}" class="hover:text-vrt1"><i class="fa-solid fa-clipboard-list"></i></a>
                </div>
            </div>
        </div>
        <table class="w-full text-sm text-gray-500 text-center mt-0">
            <thead class="text-xs text-gray-200 uppercase bg-vrt2 h-12">
                <tr>
                <th scope="col" class="w-16 px-6 py-3">Usuario</th>
                <th scope="col" class="w-16 px-6 py-3">Codigo</th>
                <th scope="col" class="w-16 px-6 py-3">Origen</th>
                <th scope="col" class="w-20 px-6 py-3">Destino</th>
                <th scope="col" class="w-20 px-2 py-3">Valor</th>
                <th scope="col" class="w-16 px-6 py-3">Distancia</th>
                <th scope="col" class="w-16 px-6 py-3">Fecha</th>
                <th scope="col" class="w-20 px-2 py-3"><i class="fa-solid fa-question bg-gray-200 text-vrt2 p-1 rounded-sm"></i></th>
                </tr>
            </thead>
            <tbody>
                {% if ListSchedule %}  
                    {% for i in ListSchedule %}
                        <tr class="w-full h-12 bg-white border-b">
                        <th class="px-6 py-1 w-16 overflow-hidden whitespace-nowrap text-center font-medium text-gray-900">{{i.username.full_name}}</th>
                        <td class="px-6 py-1 w-16 overflow-hidden whitespace-nowrap text-center">{{ i.username.codigo|slice:"-5:" }}</p></td>
                        <td class="px-6 py-1 w-16 overflow-hidden whitespace-nowrap text-center">{{ i.addres_from|default_if_none:'---' }}</p></td>
                        <td class="px-6 py-1 w-20 overflow-hidden whitespace-nowrap text-center">{{ i.addres_to|default_if_none:'---' }}</p></td>
                        <td class="px-6 py-1 w-20 overflow-hidden whitespace-nowrap text-center">${{ i.paid|intcomma}}</p></td>
                        <td class="px-6 py-1 w-16 overflow-hidden whitespace-nowrap text-center">{{ i.distance|default_if_none:'0'  }} <sub>KMs</sub> </p></td>
                        <td class="px-6 py-1 w-16 overflow-hidden whitespace-nowrap text-center">{{ i.date|date:'d M'}}</p></td>
                        <td class="px-6 py-1 w-16 overflow-hidden whitespace-nowrap text-center">
                        {% if not i.status %}
                            <i class="fa-solid fa-triangle-exclamation text-yellow-600"></i>
                            {% elif i.status == 'Completado' %}
                            <i class="fa-solid fa-square-check text-green-600 text-lg"></i>
                            {% elif i.status == 'Cancelado' %}
                            <i class="fa-solid fa-square-xmark text-red-600 text-lg"></i>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if not ListSchedule.has_next %}
                    {% for i in ListFix %}
                        <tr class="h-12 bg-white border-b">
                            {% for _ in '1234567' %}
                            <td class="w-10 px-6 py-1"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% elif not ListSchedule.has_other_pages %}
                    {% for i in ListFix %}
                        <tr class="h-12 bg-white border-b">
                        {% for _ in '1234567' %}
                            <td class="w-10 px-6 py-1"></td>
                        {% endfor %}
                        </tr>
                    {% endfor %}           
                {% endif %}
            </tbody>
        </table>
        <nav class="flex items-center justify-center w-full text-center my-4">
            <ul class="">
                {% if ListSchedule.has_previous %}
                <li class="inline-block mx-2 w-4 text-lg"><a class="block border-none font-normal text-lg" 
                    href="?page={{ ListSchedule.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="inline-block mx-2 w-4 text-lg"><a class="block border-none font-normal text-lg"
                    href="">&laquo;</a></li>
                {% endif %}
                {% for page in ListSchedule.paginator.page_range %}
                {% if page == ListSchedule.number %}
                <li class="inline-block mx-2 w-4 text-lg"><a class="block border-none font-normal text-lg"
                    href="">{{ page }}</a></li>
                {% else %}
                <li class="inline-block mx-2 w-4 text-lg"><a class="block border-none font-normal text-lg"
                    href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
                {% if ListSchedule.has_next %}
                <li class="inline-block mx-2 w-4 text-lg"><a class="block border-none font-normal text-lg"
                    href="?page={{ ListSchedule.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="inline-block mx-2 w-4 text-lg"><a class="block border-none font-normal text-lg"
                    href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
